{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    {% block style %}{% endblock %}
</head>

<body>
<div class="container">
    <div class="header"> 
        {% include 'navbar.html' %} 
        {% block header %}   {% endblock %} </div>
    <div class="left">{% block left %}    {% endblock %}</div>
    <div class="center">{% block center %}    {% endblock %} </div>
    <div class="right">{% block right %}    {% endblock %}</div>
    <div class="footer">{% block footer %}    {% endblock %}</div> 
</div>
</body>
    
<script src="{% static 'home.js' %}"></script>
    {% block script %}    {% endblock %}