{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="nav-link" href="{% url 'home' %}">Home</a>
        <a class="nav-link" href="{% url 'html_home' %}">HTML CSS</a>
        <a class="nav-link" href="{% url 'js_home' %}">JavaScript</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
        

    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">
        <img class="smiley" src="{% static 'smiley.gif' %}" alt="HTML tutorial" style="width:80px;height:80px;">
    </span>
    
<script src="{% static 'navbar.js' %}"></script>
