body {
    background-color: #11192b;
}

h1,
h2,
h3 {
    color: aqua;
}

p {
    color: aqua;
    font-size: 18px;
}



.container {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.header { grid-column: span 3;
    border: solid red;
    align-items: center;
    justify-content: center;
}


.left { grid-column: 1; border: solid gold;}
.center { grid-column: 2; border: solid gold;}
.esaki{width: auto; height: auto;}
.right { grid-column: 3; border: solid gold;}



