{% extends "html_base.html" %}
{% load static %}

<!-- CSS files -->
{% block style %}
{% endblock %}

<!-- Header Content -->
{% block header %}
<h1>HTML Concepts</h1>
{% endblock %}

<!-- Left Side of page -->
{% block left %}
<ul class="list_of_topics">
    <h3>List of Topics</h3>
    <li>
        <div>The Grid</div>
    </li><br>
    <li>
        <div>CSS Tricks</div>
    </li><br>
</ul>
{% endblock %}

<!-- Center Page Content -->
{% block center %}
<h1>Center</h1>
    <img class="esaki" src="{% static 'motoko2045.gif' %}">
{% endblock %}

<!-- Right Side page Content -->
{% block right %}
<h1>Right</h1>
{% endblock %}

<!-- Footer Content -->
{% block footer %}
<h2>Hello Footer</h2>
{% endblock %}

<!-- JS files -->
{% block script %}
<script src="{% static 'html_home.js' %}" type="module"></script>
{% endblock %}