{% extends "html_base.html" %}
{% load static %}

<!-- CSS files -->
{% block style %}
{% endblock %}

<!-- Header Content -->
{% block header %} 
<h1>This is a change only for the Feature HTML branch</h1>   
{% endblock %}

<!-- Left Side of page -->
{% block left %}
<h1>LEFT</h1>
{% endblock %}

<!-- Center Page Content -->
{% block center %}
<h1>Center</h1>
<img class="esaki" src="{% static 'motoko2045.gif' %}">
{% endblock %}

<!-- Right Side page Content -->
{% block right %}
<h1>Right</h1>
{% endblock %}

<!-- Footer Content -->
{% block footer %}
<h1>Footer</h1>
{% endblock %}

<!-- JS files -->
{% block script %}
    <script src="{% static 'html_home.js' %}" type="module"></script>
{% endblock %}